html {
    font-family: Arial, Helvetica, sans-serif;
}

.nav-search {
    background-color: #ddd;
}

.hero-image {
    height: 542px;
    background: url(https://source.unsplash.com/collection/531563/1920x1080) no-repeat center;
}

.overflow-hidden {
    overflow: hidden;
}

.white-link {
    color: white;
    background-color: #3cb46e;
}

.white-link:hover {
    background-color: #37a866 ;
}

.nav-test {
    grid-template-columns: auto auto 1fr repeat(6, auto);
}

.logo {
    grid-template-columns: auto 1fr;
}

.color-gray {
    color: gray;
}

.hover-black:hover {
    color: black;
}