
/*----------  Start  ----------*/
.ais {
    align-items: start;
}

.acc {
    align-content: start;
}

.asc {
    align-self: start;
}

.jcc {
    justify-content: start;
}

.jic {
    justify-items: start;
}

.jsc {
    justify-self: start;
}

/*----------  Center  ----------*/

.ais {
    align-items: center;
}

.acc {
    align-content: center;
}

.asc {
    align-self: center;
}

.jcc {
    justify-content: center;
}

.jic {
    justify-items: center;
}

.jsc {
    justify-self: center;
}

/*----------  End  ----------*/

.ais {
    align-items: end;
}

.acc {
    align-content: end;
}

.asc {
    align-self: end;
}

.jcc {
    justify-content: end;
}

.jic {
    justify-items: end;
}

.jsc {
    justify-self: end;
}


/*----------  Justify  ----------*/

.jcsa {
    justify-content: space-around;
}

.jcsb {
    justify-content: space-between;
}

.jcse {
    justify-content: space-evenly;
}